<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Oops!</h1>
        <h2>We're sorry, an error occurred while processing your request. Please try again later.</h2>
    </hgroup>
</body>
</html>
