@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="lead">Volunteer</h1>
</div>

<div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4" style="text-align:center">
        <input type="button" onclick="@("location.href='"+ Url.Action("Login","User")+ "'")" value="Log In" class="btn btn-lg" />
        <input type="button" onclick="@("location.href='"+ Url.Action("VolunteerSignup","User")+ "'")" value="Sign Up" class="btn btn-lg" />
    </div>
    <div class="col-md-4">

    </div>
</div>