@model HabitatForHumanity.Models.Organization
@using (Ajax.BeginForm("EditOrganization", new AjaxOptions { HttpMethod = "POST", OnSuccess = "refresh()" }))
{
    <div class="row">
        <div class="col-xs-4 col-xs-offset-3">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.Id)
            @Html.HiddenFor(x => x.status)
            @Html.EditorFor(x => x.name)
            @*<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>*@
        </div>


        <div class="col-xs-2">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
}
