you win!<button id="modalCloseButton" data-dismiss="modal">Close</button></div>
<script type="text/javascript">
    $("#modalCloseButton").click(function ()
    {
        location.reload();
    })
</script>
