@model Int32

@{
    if (Model > 0)
    {
        <h3>No Punch Outs</h3>
        <div class="well text-center">
            <h3>
                @Model
            </h3>
            <p>timecards didn't get punched out over the last month</p>
            <input type="button" onclick="@("location.href='"+ Url.Action("TimeCards")+ "'")" value="Edit Timecards" class="btn btn-warning" />
        </div>
    }
}


