Successfully edited time card. <button id="modalCloseButton" data-dismiss="modal">Close</button>
<script type="text/javascript">
    $("#modalCloseButton").click(function () {
        location.reload();
    })
</script>
