<h1>Hours by month</h1>
<div id="divHoursMonthChart">
</div>

@section Scripts {
    <script src="~Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/OurScripts/Charts.js"></script>
}