<script src="~Scripts/jquery.unobtrusive-ajax.min.js"></script>

<div class="container">
    <ul class="nav nav-tabs">
        <li><a data-toggle="tab" onclick="getHoursChart('Month')" id="Month">Hours by Month</a></li>
        <li><a data-toggle="tab" onclick="getHoursChart('Week')" id="Week">Hours by Week</a></li>
        <li><a data-toggle="tab" onclick="getHoursChart('Year')" id="Year">Hours by Year</a></li>
    </ul>
    <div id="divHoursChart"></div>
    <div class="col-md-12">@Html.Action("GetHoursChartBy", new { period = "Month" })</div>

    <div class="row">
        <div class="col-md-6">
            <div id="divHoursDemog">@Html.Action("GetHoursDemogPieBy", new { gender = "All" } )</div>
        </div>

        <div class="col-md-2 text-center" style="margin-top:80px; margin-left:-25px; margin-right: 10px;">
            <h3>Demographics</h3>
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    <input class="form-check-input" checked="checked" type="radio" name="optionsRadios" id="optionsRadios1" onclick="getDemographicsPie('All')"> All
                </label>
            </div>
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="optionsRadios" id="optionsRadios2" onclick="getDemographicsPie('M')"> Male
                </label>
            </div>
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="optionsRadios" id="optionsRadios3" onclick="getDemographicsPie('F')"> Female
                </label>
            </div>
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="optionsRadios" id="optionsRadios4" onclick="getDemographicsPie('O')"> Other
                </label>

            </div>
           
        </div>
        <div class="col-md-1">
   

        </div>

        <div class="text-center col-md-3">
           
            <div id="badPunches" class="">@Html.Action("GetBadPunches") </div>

        </div>
    </div>


</div>

@*<script>
    $(document).ready(function () {
        getHoursChart("Month");
        getDemographicsPie("All");
        getBadPunches();
    });

    function getHoursChart(period) {
        var path = "/Admin/GetHoursChartBy/?period=" + period;
        $.ajax({
            url: path,
            success: function (result) {
                $("#divHoursChart").html(result);
            }
        });
    }

    function getDemographicsPie(gender) {
        var path = "/Admin/GetHoursDemogPieBy/?gender=" + gender
        $.ajax({
            url: path,
            success: function (result) {
                $("#divHoursDemog").html(result);
            }
        });
    }

    function getBadPunches() {
        $.ajax({
            url: "/Admin/GetBadPunches",
            success: function (result) {
                $("#badPunches").html(result);
            }
        });
    }
</script>*@
@*@section Scripts {
    <script src="~Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/OurScripts/Charts.js"></script>
}*@