
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <h3>Sorry, the system is temporarily down.</h3> 
        <h3>Please note your time and contact us to clock out.</h3>
    </div>
</div>