@model HabitatForHumanity.ViewModels.DemographicsVM
@{ 
    ViewBag.Title = "DemographicsSurvey";
}

<h2>DemographicsSurvey</h2>
<p>Please tell us more about yourself. This section is optional. You can decline to answer any or all of these. Any information you provide will be used anonymously to help us better understand our volunteers. Occasionally, the information is also requested for grants and research opportunities. In this case, no personal identifying details are provided with the information below. </p>

