@{
    ViewBag.Title = "UserProfile";
}

<div id="profile"></div>

<script type="text/javascript">
    $(document).ready(function () {
        _ViewProfile();
    });
    function _ViewProfile() {
        var path = "/User/_ViewProfile/"
        $.ajax({
            url: "@Url.Action("_ViewProfile", "User")",
            success: function (response) {
                $("#profile").html(response);
            }
        });
    }
</script>
