@model HabitatForHumanity.ViewModels.PortalVM
@{
    ViewBag.Title = "VolunteerPortal";
}
@{
    if (Session["Username"] != null)
    {
        @*<h1>@Session["Username"]</h1>*@
    }
}
<h2>Volunteer Portal</h2>
<h3>Welcome @Model.fullName!</h3>
<h3>You have logged @Model.cumulativeHours hours to date.</h3>

@{
    if (Model.isPunchedIn == false)
    {
        <div>@{Html.RenderPartial("_PunchIn", Model.punchInVM);}</div>
    }
    else
    {
        <div>@{Html.RenderPartial("_PunchOut", Model.punchOutVM);}</div>
    }
}